body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(30, 30, 30);
}

.app-component{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showVideo{
    width: 100%;
}

.list-film{
    color: white;
    height:100%;
    overflow-y: auto;
    
}

ul{ 
    margin: 0px;
    padding-left: 1%;
    list-style: none;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    margin-bottom: 6%;
    display:flex;
    flex-direction: column;
    height:10%;
    margin-right: 1.5%;
}

img{
    height:140px;
    width:100px;
    box-shadow: 2px 4px 8px black;
}

.filter{
    padding:3%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.filter .left .categorie{
    width:50%;
    heigth:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter .left{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.filter .left .categorie li{
    border-bottom: 4px solid rgba(0, 0, 0, 0);;
    height: 100%;
}

.filter .left .categorie li:hover{
    border-bottom: 4px solid rgb(0, 38, 255);
}

.dropdown{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width:50%;
}

#date option, #genre option, #date, #genre{
    color:white;
    border:none;
    outline:none;
    background-color: rgb(30, 30, 30);
}

#movie .episode, #movie .lecteur-video{
    background-color: rgb(30, 30, 30);
}

.AutoCompleteText{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 70%;
}

.suggestion{
    position: absolute;
    box-shadow: 2px 4px 8px black;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width:70%;
}

.AutoCompleteText li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    background-color: rgb(30, 30, 30);
    border: none;
    color:white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.342);
    width:100%;
    outline: none;
}

#movie{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lecteur-video{
    color:white;
    height:40%;
    width:100%;
    text-align: center;
}

.episode{
    padding: 10% 10% 0% 50% ;
    display:flex;
    overflow-x: auto;
    flex-wrap: inherit;
    height: 35%;
}

.episode li{
    color: white;
    margin-right: 5%;
}




@media screen and (min-width: 1200px) {
    ul{
        padding: 0%;
        width:100%;
    }

    li{
        margin-bottom: 2%;
        margin-right: 1%;
    }

    .filter{
        margin-left: auto;
        margin-right: auto;
        padding:1%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    .dropdown{
        margin-top: 0%;
        width:35%;
    }

    .AutoCompleteText{
        width: 100%;
    }

    .lecteur-video{
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }

    .lecteur-video div{
        width: 100%;
    }
    .episode{
        padding: 0% ;
        display:flex;
        overflow-x: auto;
        flex-wrap: inherit;
        margin-top: 2%;
    }

    .episode::-webkit-scrollbar {
        display: none;
      }
    
    
    .episode li img{
        height: 130px;
        width: 100px;
        box-shadow: 2px 4px 10px black;
    }
}