body{
    margin: 0px;
    padding: 2px;
    height: 100vh;
    text-align: left;
    color:white;
    background-color: rgb(30,30,30);
}

body div, body input{ 
    text-align: center;
    margin-bottom: 3%;
    margin-top:2%;
}

.infovideo{
    background-color: black;
    height:220px;
    color: white;
    margin-bottom: 0%;
}

.infovideo div{
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.infovideo p, .infovideo h4{
    text-align: left;
    width:50%;
    padding:2%
}

.list-film{
    height:285px;
    overflow-y: auto;
}

.btn-regarder{
    margin-top: 0%;
    width:100%;
    color:white;
    background-color: gray;
}

.btn-regarder a{
    text-decoration: none;
    color:white;
}

ul{
    padding: 2%;
    list-style: none;
    display:flex;
    overflow-x: auto;
}

ul::-webkit-scrollbar, .list-film::-webkit-scrollbar
{    
    display: none;
}

img{
    height:140px;
    width:100px;
}

li{
    display:flex;
    flex-direction: column;
    height:10%;
    margin-right: 20px;
}


#movie .episode, #movie .infovideo{
 margin-top: 23%;
}

